* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

main {
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    max-width: 1440%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 420px;
    width: 550px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
}

.lado-esq {
    width: 50%;
    width: 100%;
}
.lado-dir {
    width: 50%;
    width: 100%;
}

.img-desktop {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.perfume {
    padding: 25px;
}

.perfume h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500px;
    font-size: 0.8rem;
    letter-spacing: 5px;
    color: hsl(212, 21%, 14%);
    
}

.titulo {
    padding: 0px 20px;
}

.titulo h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700px;
    font-size: 2.1rem;
    color: hsl(212, 21%, 14%);
    line-height: 1em;
}

.paragrafo {
    padding: 20px;
}

.paragrafo h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
    font-size: 0.8rem;
    color: hsl(212, 21%, 14%);
    letter-spacing: 0.8px;
    line-height: 1.6em;
}

.valores {
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
}

.valor1 {
    width: 50%;
}

.valor2 {
    width: 50%;
    display: flex;
    align-items: center;
}

.valor1 p {
    font-family: 'Fraunces', serif;
    font-weight: 700px;
    font-size: 2.1rem;
    color: hsl(158, 36%, 37%)
}

.valor2 p {
    font-family: 'Fraunces', serif;
    font-weight: 700px;
    font-size: 0.8rem;
    color: hsl(210, 10%, 32%);
    text-decoration: line-through;
    margin-left: 20px;
}

.area-btn {
    padding: 20px;
}

.btn {
    padding: 10px;
    width: 100%;
    background-color: hsl(158, 36%, 37%);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-btn {
    margin-right: 5px;
}


.btn p {
    text-align: center;
    color: white;
    font-weight: 700px;
    font-size: 0.9rem;
    margin-left: 5px;
}


